body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar {
  background-color: rebeccapurple;
}

.backButton {
  height: 50px;
  margin-right: 10px;
  margin-left: -10px;
  cursor: pointer;
}

.NavBarTypography {
  font-size: 2em;
  text-decoration: none;
  margin-left: -5px;
  margin-right: 10px;
}

.AddTaskButton {
  font-size: 2vw;
  padding-left: 0.5vw;
}

.addTaskInputName {
  width:50%;
  font-size:2vw
}

.addTaskInputNameLabel {
  width:100%;
  font-size:4vw;
  text-align: center;
}

.addTaskInputDate {
  width:50%;
  font-size:2vw
}

.addTaskInputDateLabel {
  width:100%;
  font-size:4vw
}

.addTaskInputDifficulty {
  width:50%;
  font-size:2vw
}

.addTaskInputDifficultyLabel {
  width:100%;
  font-size: 4vw;
}

.addInputSubtask {
  width:50%;
  font-size:2.5vw
}

.AddTaskButton {
  margin-left:10px;
}

.visualisationCircle{
  margin-left:40px;
}

.taskFormInput {
  margin-bottom: 30px;
  text-align: center;
}

.taskForm {
  margin-top:100px
}

.taskDetailsInfo {
  text-align: center;
  width:50%;
  margin-left: 25%
}

.taskDetailsTable {
  text-align: center;
}

.taskFormActionButtons {
  text-align: center;
}

.taskVisual {
  margin-left: 50%
}

.noTasks {
  margin-top:300px;
  text-align:center;
  font-size: 7vh
}