body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar {
  background-color: rebeccapurple;
}

#submit
{
  display:block;
  position: relative;
}

#block{
  display:block;
}

#datedifblock
{
  display:block;
  position: relative;
  right:100px;
  bottom: 75px;
  width:100%;
}

#right{
  float:right;
  width: 25%;
}

#left{
  float: left;
  width: 75%;
}

.NavBarTypography {
  font-size: 2em;
  text-decoration: none;
  margin-left: -5px;
  margin-right: 10px;
  cursor: pointer;
}

.NavBarTypography:hover
{
  color: black;
}

.AddTaskButton {
  font-size: 2vw;
  padding-left: 0.5vw;
}

.addTaskInputName {
  position: relative;
  bottom: 75px;
  left: 40px;
  width:60%;
  font-size:200%;
}

.addTaskInputNameLabel {
  position: relative;
  bottom: 75px;
  left: 40px;
  width:100%;
  font-size:4vw;
}

.addTaskInputDate {
  width:100%;
  font-size:2vw
}

.addTaskInputDateLabel {
  width:100%;
  font-size:4vw
}

.addTaskInputDifficulty {
  width:100%;
  font-size:2vw
}

.addTaskInputDifficultyLabel {
  width:100%;
  font-size: 4vw;
}

.addInputSubtask {
  position:relative;
  left: 40px;
  width:50%;
  font-size:2.5vw;
}

.addInputSubtaskTaskDetails {
  position:relative;
  width:50%;
  font-size:2.5vw;
}

.AddTaskButton {
  margin-left:10px;
}

.visualisationCircle{
  margin-left:40px;
}

.taskFormInput {
  margin-bottom: 30px;
}

.taskForm {
  margin-top:100px
}

.taskDetailsInfo {
  text-align: left;
  font-size: 150%;
  width:50%;
  margin-left: 25%
}

.taskDetailsTable {
  text-align: left;
}

.taskFormActionButtons {
  position: relative;
  left: 40px;
  text-align:left;
}

.taskFormActionButtonsSubmit
{
  position: relative;
  text-align:center;
  margin-top: 50px;
}

.taskVisual {
  margin-left:50%;
  text-align: center;
} 

.noTasks {
  margin-top:300px;
  text-align:center;
  font-size: 7vh
}

.helpParentDiv {
  text-align: center;
  margin-top:10%
}

.helpContentDiv {
  margin-left: 15%;
  margin-right: 15%;
}

.logInInputs {
  text-align: center;
  font-size: 3vh;
}

.logInForm {
  background-color: #D2A722;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}